<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations! <%=@host.name%>,</h1>
    <p>
      Your listing : <%=@listing.title%> has been booked by <%=@customer%>. Please log in to view the booking under the booking id : <%=@booking_id%>
    </p>
  </body>
</html>
