ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F08080;
  height: 55px;
}

li {
  float: right;
}

li a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 16px 18px;
  color: white;
}

li a:hover{
  background-color:	#CD5C5C;
}

#logo{
  float: left;
  vertical-align: middle;
}

table {
  width: 100%;
}
